
  <div style="margin: 5%;">
    <h3>Registro de usuario</h3>
   <form (ngSubmit)="registrarse()" #formProduct="ngForm">
      <div>
        <div class="form-outline mb-4">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Nombre"
            [(ngModel)]="User.name"
            minlength="5"
            maxlength="60"
            required
            #descModel="ngModel"
            [ngClass]="{
              'is-valid': descModel.touched && descModel.valid,
              'is-invalid': descModel.touched && descModel.invalid
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="descModel.invalid && descModel.errors?.required"
          >
            La campo nombre es obligatoria
          </div>
          <div
            class="invalid-feedback"
          *ngIf="descModel.invalid && descModel.errors?.minlength"
          >
            Te faltan
            {{
              descModel.errors?.minlength.requiredLength -
                descModel.errors?.minlength.actualLength
            }}
            caracteres
          </div>
        </div>
      </div>
      <div>
        <div class="form-outline mb-4">
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
            name="password"
            [(ngModel)]="User.password"
            required
            #priceModel="ngModel"
            [ngClass]="{
              'is-valid': priceModel.touched && priceModel.valid,
              'is-invalid': priceModel.touched && priceModel.invalid
            }"
          />
          <div class="invalid-feedback">El campo contraseña es obligatorio</div>
        </div>
      </div>
      <div>
        <div class="form-outline mb-4">
          <input
            type="file"
            name="image"
            class="form-control"
            accept="image/*"
            placeholder="Imagen de perfil"
            (change)="loadImage(imageInput)"
            #imageInput
            [(ngModel)]="imageFile"
            required
            #imgModel="ngModel"
            [ngClass]="{
              'is-valid': imgModel.touched && imgModel.valid,
              'is-invalid': imgModel.touched && imgModel.invalid
            }"
          />
          <div class="invalid-feedback">Es obligatorio seleccionar una imagen</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-sm-2">
          <img class="product-img" [src]="User.imageUrl" />
        </div>
      </div>
      <div>
        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formProduct.invalid"
          >
            Registrarse
          </button>
        </div>
      </div>
    </form>
  <!--{{User | json}}-->
  </div>
