<!--Kard Content-->
<div class="d-flex justify-content-center flex-column align-items-center">
  <lesson-switch (emitActiveLesson)="countChange($event)"></lesson-switch>
  <!--Kard-->
  <div class="card border-primary w-50">
    <div class="card-header">
      <h5 class="card-title">{{ kards[index].keyWord }}</h5>
    </div>
    <div class="card-body">
      <h1 class="card-text d-flex justify-content-center">{{ kards[index].kanjiChar }}</h1>
      <p class="d-flex justify-content-center">{{kards[index].id}}</p>
    </div>
  </div>

  <!--Description TextArea-->
  <div class="w-50 p-3">
    <!-- Nav tabs -->

    <ul class="nav nav-pills nav-fill" role="tablist">
      <li
        class="nav-item"
        *ngFor="let wallet of coinwallet; let first = first"
        [ngClass]="{ firstItem: first }"
        role="presentation"
        [class.active]="selectedwallet === wallet"
      >
        <a
          class="nav-link active"
          (click)="selectedwallet = wallet"
          aria-controls="one"
          role="tab"
          data-toggle="tab"
          >{{ wallet }}</a
        >
      </li>
    </ul>

    <div class="tab-content">
      <div
        *ngIf="selectedwallet === coinwallet[0]"
        role="tabpanel"
        class="tab-pane active"
        id="one"
      >
        {{kards[index].shortStory}}
      </div>
      <div
        *ngIf="selectedwallet === coinwallet[1]"
        role="tabpanel"
        class="tab-pane active"
        id="two"
      >
        <textarea class="form-control" id="nota_user"></textarea>
      </div>
    </div>
  </div>
</div>

<!--Paginación-->
<div class="d-flex justify-content-center fixed-bottom">
  <ul class="pagination pagination-lg">
    <li class="page-item">
      <button class="page-link" (click)="previousKard()" href="#">
        &laquo;
      </button>
    </li>
    <li class="page-item active" *ngFor="let foo of kards; let x = index">
      <button class="page-link" (click)="kardIndexPag(x)">{{ x + 1 }}</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="nextKard()">&raquo;</button>
    </li>
  </ul>
</div>


