<div style="margin: 5%">
  <h3>Inicio de sesion</h3>
  <form (ngSubmit)="login()" #formProduct="ngForm">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="text"
        id="form1Example1"
        class="form-control"
        name="nombreUser"
        [(ngModel)]="UsuarioEntr.name"
        placeholder="Nombre de usuario"
      />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="form1Example2"
        class="form-control"
        name="contraseña"
        [(ngModel)]="UsuarioEntr.password"
        placeholder="Contraseña"
      />
    </div>
    <p class="text-danger" *ngIf="error">Usuario y/o contraseña no validos</p>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
  </form>
</div>
